.employees-list {
    height: 100%;
    width: 16%;
    background-color: $color-white;
    border-radius: 5px;
    padding: 1.6rem;
    overflow: hidden;
    @include displayFlex(column, unset, center);
    @include mediaMaxWidth($tablet) {
        width: 100%;
        height: calc(100vh - 11.2rem);
        flex-shrink: 0;
        margin-top: 3.6rem;
    }

    &__search {
        width: 100%;
        height: 5rem;
        border: 2px solid $color-primary;
        border-radius: 2.5rem;
        margin-bottom:1.6rem;
        flex-shrink: 0;
        position: relative;
        @include displayFlex(row, space-between, center);

        // @include mediaMaxWidth($laptop-small){
        //     height: 4rem;
        //     margin-bottom:2.6rem;
        // }

        & > figure {
            margin-right: 0.4rem;
            flex-shrink: 0;
            cursor: pointer;
            @include circle(4rem, $color-primary);
            @include displayFlex(row, center, center);
            // @include mediaMaxWidth($laptop-small){
            //     @include circle(3rem, $color-primary);
            // }
        }

        & > figure> svg {
            font-size: 3rem;
            color: $color-white;
            // @include mediaMaxWidth($laptop-small){
            //     font-size: 2.2rem;
            // }
        }

        & > input {
            max-width: calc(100% - 6rem);
            flex-grow: 1;
            height: calc(100% - 1rem);
            margin-left: 1rem;
            font-size: 1.5rem;
            // @include mediaMaxWidth($laptop-small){
            //     max-width: calc(100% - 5rem);
            // }
        }

        &__auto-complete {
            position: absolute;
            left:0;
            top:calc(100% + 0.5rem);
            width: 100%;
            height: auto;
            border-radius: 5px;
            background-color: $color-white;
            box-shadow: $strong-shadow;
            padding: 0.6rem;
            @include displayFlex(column);

            &--no-results {
                height: 5rem;
                font-size: 2rem;
                text-align: center;
                line-height: 1.2;
                @include displayFlex(column, center,center);
            }

            & > li {
                width: 100%;
                height: 3rem;
                cursor: pointer;
                flex-shrink: 0;
                border-radius: 5px;
                padding-left:0.6rem;
                @include displayFlex(row, flex-start, center);
            }

            & > li:hover {
                background-color: lighten($color-primary, 5);
            }
        }
    }


    &__content {
        width: calc(( ((100vw - 3.2rem) * 0.84) / 7) + 0.8rem );
        flex-grow: 1;
        border-radius: 10px;
        padding: 1rem 0 1rem 1.2rem;
        border: 1px solid $color-gray;
        background-color: $color-white;
        overflow-y: scroll;
        @include customScrollbar($color-white, $color-primary);
        @include mediaMaxWidth($tablet){
            width: 100%;
        }
        @include mediaMaxWidth($mobile){
            padding-left:0.8rem;
        }

        & > div {
            @include mediaMaxWidth($tablet){
                @include displayFlex(row,flex-start,center);
                flex-wrap: wrap;
            }
        }

        &--empty {
            @include displayFlex(column,center,center);
        }

        &--empty > div {
            @include displayFlex(column,center,center);
        }

        &--empty > div > svg {
            font-size: 4rem;
            color: $color-primary;
            margin-bottom: 0.5rem;
        }

        &--empty > div > h2 {
            color: $blackish-text;
            text-align: center;
            font-size: 2rem;
            line-height: 1.15;
        }

    }

    &__footer {
        width:100%;
        height: 5rem;
        margin-top:1.6rem;
        @include displayFlex(row, center, center);

        & > button {
            max-width: 100%;
            @include button($color-white, $color-primary, $color-white, $color-primary-hover, none);
        }
    }
}


.employees-draggable {
    width: 100%;
    height: 4rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: $color-primary-hover;
    color: $color-white;
    font-size: 1.4rem;
    padding: 0 0.6rem;
    @include displayFlex(row, space-between, center);
    @include mediaMaxWidth($mobile){
        height: 3.6rem;
    }

    &--list {
        @include mediaMaxWidth($tablet){
            width: calc(25% - 0.8rem);
            margin-right: 0.8rem;
        }
        @include mediaMaxWidth($mobile){
            width: calc(50% - 0.4rem);
            margin-right: 0.4rem;
        }
    }

    & > svg {
        font-size: 2.2rem;
    }

    & > div {
        max-width: calc(100% - 2.2rem);
    }

    & > div > h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include mediaMaxWidth($laptop-small) {
            font-size: 1.25rem;
            line-height: 1.2;
        }
    }

}