.employees-list {
    height: 100%;
    // width: calc(15% - 0.8rem);
    width: calc(11vw + 5.9rem);
    background-color: $color-white;
    border-radius: 5px;
    padding: 1.6rem;
    //
    overflow: hidden;
    @include displayFlex(column, unset, center);

    &__search {
        width: 100%;
        height: 5rem;
        border: 2px solid $color-primary;
        border-radius: 2.5rem;
        margin-bottom:1.6rem;
        flex-shrink: 0;
        @include displayFlex(row, space-between, center);

        & > figure {
            margin-right: 0.4rem;
            flex-shrink: 0;
            @include circle(4rem, $color-primary);
            @include displayFlex(row, center, center);
        }

        & > figure> svg {
            font-size: 3rem;
            color: $color-white;
        }

        & > input {
            max-width: calc(100% - 7rem);
            flex-grow: 1;
            height: calc(100% - 1rem);
            margin: 0 1rem;
            font-size: 1.6rem;
        }
    }

    &__content {
        width: 100%;
        flex-grow: 1;
        border-radius: 10px;
        padding: 1rem;
        border: 1px solid $color-gray;
        background-color: $color-white;
        overflow-y: auto;
        @include customScrollbar($color-white, $color-primary);

        &__employee {
            width: 100%;
            height: 4rem;
            border-radius: 5px;
            margin-bottom: 1rem;
            background-color: pink;
        }
    }

    &__footer {
        width:100%;
        height: 5rem;
        margin-top:1.6rem;
        @include displayFlex(row, center, center);

        & > button {
            max-width: 100%;
            @include button($color-white, $color-primary, $color-white, $color-primary-hover, none);
        }
    }
}