//colors
$color-white: #fff;
$color-black: #000;
$color-error: #ff1111;
$gradient-primary: linear-gradient(253deg,#3ba5b4 0,#38ba8a 100%);
$color-primary: #28b498;
$color-primary-hover: #3cc6a5;
$color-primary-light: #3bb497;
$color-faded-green-bg: #eef5f3;
$color-gray: #808080;
$color-light-gray: #d3d3d2;
$color-secondary: #3ba5b4;
//typography
$default-font-size: 1.6rem;
$blackish-text: #1a1e1d;
$grayish-text: #88908e;
//others
$light-shadow: 0 12px 24px rgba(34,51,49,.13);
$modal-curtain: rgba(0, 0, 0, 0.5);